@charset "utf-8";

ul {
    padding-left: 0;

}

li {
    list-style: none;

    /*浮動靠左 橫向要設定float 直向就不用設定*/
    float: left;
}

li a {
    background-color: rgb(227, 199, 253);
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: green;
    border-radius: 10px;


}

li a:hover {
    background-color: brown;
    color: aliceblue;
}