* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../../share/bg.gif);

}

.container {
    margin: 0 auto;
    width: 1200px;
    background-image: url(../../share/wrapper_bg.jpg);

}



.header {
    position: relative;
    height: 100px;
    background: rgb(253, 176, 113);
}

.header h1 {
    position: absolute;
    top: 10px;
    left: 20px;

}

.header h1 img {}

.header ul {
    position: absolute;
    right: 20px;
    top: 40px;

}

.header ul li {
    list-style: none;
    float: left;

}

.header ul li a {
    display: block;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

.header ul li a:hover {
    color: #FFF;
}




.banner {
    /* height: 400px; */
}

.banner img {
    /*插入圖片的方式會產生小小空細 使用vertical-align: bottom 可改善*/
    vertical-align: bottom;
    width: 100%;
}



.nav {

    float: left;
    width: 160px;
    padding: 20px;
}

.nav ul {}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    border-bottom: #FFF 1px dashed;
    /* border-bottom-style: ; */
    text-align: center;
}

.nav ul li a:hover {
    background-color: rgb(125, 142, 219);
}

.nav ul li a span {
    font-family: "sosa";
    margin-right: 10px;
    font-style: normal;
    vertical-align: middle;
}

.content {
    float: left;
}

.content h2 {

    background-image: url(../../share/title_bg.png);
}

.content p {}



.footer {
    clear: both;
    text-align: center;
    background-color: #000;
    color: #FFF;
    padding: 10px;
}

.footer h3 {}

.footer p {}


@font-face {
    font-family: "sosa";
    src: url(../../share/sosa-regular-webfont.ttf);

}